body {
  margin: 0;
  box-sizing: border-box;
  background: url("images/bg-pattern-top.svg") left top no-repeat,
    url("images/bg-pattern-bottom.svg") right bottom no-repeat;
  background-size: 50rem, 50rem;
  background-position: left -30rem, right 30rem;
  background-color: var(--dark-cyan);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated: hsl(229, 23%, 23%);
  --dark-graysh: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 13%, 85%);
}

.container {
  min-height: 28rem;
  min-width: 24rem;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  font-family: "Kumbh Sans";
}
.bgimg-card img {
  width: 24rem;
  height: 10rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.profileimg-card img {
  border-radius: 50%;
  height: 6rem;
  position: absolute;
  top: 7rem;
  left: 8.7rem;
  border: solid 0.4rem white;
}
.name {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-weight: 700;
}
.name span,
p {
  font-weight: 100;
  color: var(--dark-graysh);
  font-size: 18px;
}
.name p {
  font-size: 16px;
}

.hr {
  height: 1px;
  width: 24rem;
  background-color: var(--dark-gray);
}

.user-stats {
  display: flex;
  justify-content: space-evenly;
}
.user-stats p {
  font-size: 14px;
}
.user-stats h3 {
  font-weight: 00;
}

.followers,
.likes,
.photos {
  text-align: center;
  word-spacing: 1px;
}

.followers h3 {
  margin-top: 30px;
  margin-bottom: -10px;
}
.likes h3 {
  margin-top: 30px;
  margin-bottom: -10px;
}
.photos h3 {
  margin-top: 30px;
  margin-bottom: -10px;
}
